<div class="mb-6">
  <h1 class="text-xl font-bold text-slate-900"><%= t(".title") %></h1>
</div>

<% products_json = @products.as_json(only: [
  :id, :name, :unit, :other_material_cost,
  :exterior_description, :exterior_unit_price, :exterior_qty,
  :interior_description, :interior_unit_price, :interior_qty,
  :interior2_description, :interior2_unit_price, :interior2_qty,
  :back_description, :back_unit_price, :back_qty,
  :banding_description, :banding_unit_price,
  :drawers_description, :drawers_unit_price, :drawers_qty,
  :pulls_description, :pulls_unit_price, :pulls_qty,
  :hinges_description, :hinges_unit_price, :hinges_qty,
  :slides_description, :slides_unit_price, :slides_qty,
  :locks_description, :locks_unit_price, :locks_qty,
  :detail_hrs, :mill_hrs, :assembly_hrs, :customs_hrs, :finish_hrs, :install_hrs,
  :equipment_hrs, :equipment_rate
]).to_json %>

<div data-controller="product-selector"
     data-product-selector-products-value="<%= j products_json %>">
  <%= form_with model: [@estimate, @line_item], data: { turbo: false, "product-selector-target": "form" } do |f| %>
    <%= render "form", f: f, estimate: @estimate, products: @products %>
  <% end %>
</div>
