<div class="mb-6">
  <h1 class="text-xl font-bold text-slate-900"><%= t(".title") %></h1>
</div>

<% products_json = @products.as_json(only: [
  :id, :name, :unit, :other_material_cost,
  :exterior_qty, :interior_qty, :interior2_qty, :back_qty,
  :drawers_qty, :pulls_qty, :hinges_qty, :slides_qty, :locks_qty,
  :detail_hrs, :mill_hrs, :assembly_hrs, :customs_hrs, :finish_hrs, :install_hrs,
  :equipment_hrs, :equipment_rate
]).to_json %>

<div data-controller="product-selector"
     data-product-selector-products-value="<%= products_json %>">
  <%= form_with model: [@estimate, @line_item], data: { controller: "tab-on-enter", turbo: false, "product-selector-target": "form" } do |f| %>
    <%= render "form", f: f, estimate: @estimate, products: @products, show_product_selector: true %>
  <% end %>
</div>
